body {
  background-color: blue;
  background-image: image(images/mkt.jpg);
}
h1 {
  text-align: center;
  color: black;
  text-shadow: 3px 3px
  font-style: italic;
}
div {
  page-break-inside: avoid;
  font-family: sans-serif;
  border-width: thin;
  align-content: center;
}
.para {
  text-align: center;
  font-style: normal;
  font-size: 40px;

}
