body {
  background-color: blue;

}
h1 {
  text-align: center;
  color: black;
  text-shadow: 3px 3px
}
div {
  page-break-inside: avoid;
  font-family: sans-serif;
  border-width: thin;
  align-content: center;
}
.para {
  text-align: center;
  font-style: normal;
  font-size: 40px;
}
